/* Main Display */
#cartSection{
    width: 85%;
    margin: auto;
    display: flex;
    justify-content: center;
    margin-top: 100px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
    padding-left: 10px;
    border-radius: 15px;
    margin-bottom: 80px;
    
}
#cart_products>h1{
    margin-left: 15px;
}
#myCart{
    width: 90%;
    margin-right: 0;
}
#priceCalculatio9n{
    width: 70%;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(240, 240, 240) 0px 0px 0px 1px inset;
    border-radius: 15px;
    text-align: center;
    margin-left: 10px;
}
#myCart img{
    width: 100%;
    height: 200px;
    object-fit:contain;
}
.cartContainerEdit{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-bottom: 20px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(240, 240, 240) 0px 0px 0px 1px inset;
    border-radius: 15px;

}
.cartModificationButtons button:first-child,
.cartModificationButtons button+button{
    margin-left: 80px;
}
.cartModificationButtons button+button{
    margin-top: 50%;
}
#myCart>div:last-child{
    margin-bottom: 0;
}
.cartModificationButtons button{
    border: 0;
    width: 30%;
    margin:auto;
    height: 10%;
    border-radius: 15px;
    background-color: rgb(18, 180, 163);
    color: white;
    cursor: pointer;
    font-size: 15px;

}
.cartModificationButtons>button:first-child{
    /* display: block; */
    margin-top: 4%;
    margin-left: 120px;
}
#priceCalculatio9n>div{
    /* border: 1px solid red; */
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(240, 240, 240) 0px 0px 0px 1px inset;
    padding: 25px;
    margin: 15px;
    text-align: end;
}
.inSide{
    width: 100%;
}
#priceCalculatio9n>button{
    border: 0;
    width: 80%;
    height: 5%;
    margin-top: 50px;
    font-size: 20px;
    background-color: rgb(18, 180, 163);
    color: white;
    cursor: pointer;
}